body {
  padding-top: 20px;
}

/*Added padding: move to CSS later (temporary put color here)*/
.container {
  max-width: 1000px;
  background-color: #f7f1bf;
  border: 3px solid #613437;
  border-radius: 20px;
}

#logo {
  color: #451110;
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
}

#logoPic {
  margin-top: 2px;
}

input {
  border-radius: 10px;
  background-color: transparent;
}

.searchBtn,
.currLocation {
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid #613437;
  color: #613437;
}

.searchBtn:hover {
  background-color: #613437;
  color: #f7f3ce;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.currLocation:hover {
  background-color: #b48871;
  color: #f7f3ce;
  cursor: pointer;
  border: 1.5px solid #b48871;
  transition: all 200ms ease-in-out;
}

#info #city {
  line-height: 35px;
  font-size: 3.5rem;
}

#info #description {
  text-transform: capitalize;
}

#updated {
  font-size: 1.5rem;
}

#icon {
  font-size: 100px;
}

#tempInfo {
  margin-top: 20px;
}

#info,
#tempInfo {
  font-family: "Fredoka One", cursive;
  color: #613437;
}

#tempInfo #temperature {
  font-size: 70px;
  margin-left: 20px;
}

#tempInfo #temp-unit {
  position: relative;
  top: -40px;
}

a {
  color: #613437;
}

a:hover {
  color: #613437;
}

.card-group {
  color: #613437;
  font-family: "Fredoka One", cursive;
}

.card {
  background-color: #f7f1bf;
}

#extraInfo {
  font-family: "Fredoka One", cursive;
  margin-top: 50px;
  text-align: center;
  color: #b48871;
}

.hiTemp,
.hi {
  color: #f5b212;
  font-size: 30px;
  line-height: 15px;
}

.loTemp,
.lo {
  color: #f7d84d;
  font-size: 20px;
}
